BACKEND_PORT = 4000
MONGO = "mongodb+srv://isoumyad1:123@cluster1.ycjqp1d.mongodb.net/society-management?retryWrites=true&w=majority&appName=Cluster1"
JWT_SECRET = "2b6cfd17ed2e7eab42a2b7e4c9d76a74b6e7e232b7b7eb762e7e2b6fd17ed2e7eab42a2b7e4c9d76a74b6e7e232b7b7eb"
NODE_ENV= "production"